/exercicios01/nbproject/private/
/exercicios01/build/
/exercicios02/nbproject/private/
/exercicios02/build/
/exercicios03/nbproject/private/
/ProjetoPedraPapelTesouraVitor/nbproject/private/
/ProjetoPedraPapelTesouraVitor/build/
/ProjetoVisual/nbproject/private/
/ProjetoVisual2025/nbproject/private/
/ProjetoVisual2025/build/
/VetoresApostila8/nbproject/private/
/VetoresApostila8/build/
/VetoresApostila8/dist/
/metodosEMJAVA/nbproject/private/
/exercicios03/JavaApplication387/nbproject/private/
/exercicios03/exercicios03/nbproject/private/
/exercicios03/exercicios03/build/
/exercicios03/build/
/exercicios04/nbproject/private/
/exercicios04/build/
/exercicios05/nbproject/private/
/exercicios05/build/
/exercicios06/nbproject/private/
/exercicios06/build/